{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
        <center>
            <h1 class="text-muted">Your Image History</h1>
        </center>
    </div>
    {% for image_set in images %}
      <div class="row">
      {% for image in image_set %}
          <div class="col-sm-4">
              <div class='image'>
                  <img class="center-block" height="250px" src="{{ image.image_url }}">
                  <p class="help-block">{{ image.flickr_photopage }}</p>
              </div>
          </div>
      {% endfor %}
      </div>
    {% endfor %}
</div>
{% endblock %}
