{% extends "base.html" %}
{% block content %}
<div class="container">
    <form action='/send_access_code' method="post">
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber">
            <p class="help-block">Enter your phone number to see your image history. Ex: +15558675309</p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
